.chat-tribes{
    list-style: none;
    padding: 5px;
}
.chat-tribe{
    user-select: none;
    padding: 4px 5px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-bottom: 1px;
    position: relative;
}